// Colors
$light: #fff;
$dark: #222531;
$transparent: rgba(255, 255, 255, 0);
$graph: #F18C5C;
$accent: #4C57FB;
$text: #616E85;
$decor: #EFF2F5;
$blue-light: #ECEDFF;
$scroll-bar: #D0D6E4;
$chart1: #5155C3;
$chart2: #597DBE;
$chart3: #5F99BB;
$chart4: #65B8B7;
$chart5: #6CDDB1;

$speed: 300ms;
$time-function: ease-in-out;

$small-table: 576;
$tablet: 768;
$tablet-pro: 1000;
$desktop: 1200;

:root {
  --speed: #{$speed};
  --time-function: #{$time-function};
  --vh: 1vh;
}

//layout
$padding: 20px;
$desktop-width: 1312px;
$site-container: $desktop-width + ($padding * 2);
$padding-card: 24px;

